<h1>{{customer.name}}</h1>
<p><i>{{customer.name}} is in the {{customer.address.region}} region.</i></p>
<div [hidden]="hideAddress">
  <h6>{{customer.address.street}}</h6>
  <h6>{{customer.address.city}}</h6>
</div>
<label>Name: <input [(ngModel)]="customer.name"></label>
<label>Street: <input [(ngModel)]="customer.address.street">/<label>
<label>City: <input [(ngModel)]="customer.address.city"></label>
<br/>
<fieldset>
  <label>Change region</label>
  <select [(ngModel)]="customer.address.region">
    <option>north</option>
    <option>south</option>
    <option>east</option>
    <option>west</option>
  </select>
</fieldset>
<fieldset>
  <img [src]="customer.image"/>
</fieldset>
<label [style.color] ="color">Color to Change</label>
<button (click)="colorChange()">Toggle Color</button>
<select (change)="selectColorChange($event.target.value)">
  <option>red</option>
  <option>blue</option>
  <option>green</option>
</select>
